$font-content: 'Montserrat', sans-serif;
$font-title: 'Poiret One', cursive;
$blue: #0fc8ff;
$darkblue: #006280;
$darkyellow: #feb201;
$middleblue: #009ccc;
$yellow: #feb916;
$grey: #262626;
$red: #ed5666;

h1,h2{
	font-family: $font-title;
	font-weight: bold;
}


/******** Alert modal *********/
.alert{
    position: fixed; 
    z-index: 1; 
    padding-top: 250px;
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
   // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .alert-content{
    	position: relative;
	    background-color: $red;
	    color: #fff;
	    margin: auto;
	    padding: 0;
	    //border: 1px solid #888;
	    width: 350px;
	    height: auto;
	    box-shadow:0px 10px 30px 10px rgba(0,0,0,0.1);
	    //border-radius: 10px;
	    -webkit-animation-name: animatetop;
	    -webkit-animation-duration: 0.4s;
	    animation-name: animatetop;
	    animation-duration: 0.4s;
	    .message{
	    	padding:20px;
	    	text-align: center;
	    	font-size: 20px;
	    }
	    .close {
		    color: white;
		    float: right;
		    font-size: 20px;
		    font-weight: bold;
		    padding: 10px;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}
	}
}

	

@-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top: 0; opacity:1}
}

@keyframes animatetop {
    from {top:-500px; opacity:0}
    to {top:0; opacity:1}
}


/******** Main *********/
@mixin main-content($p){
	padding: $p;
	height: auto;
	overflow: auto; //for the auto works
    background-color: #fff;
    border: 1px solid lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin main-buttons($mt,$w,$fs,$h,$bc){
	margin-top: $mt;
	width:$w;
	font-size: $fs;
	height:$h;
	background-color: $bc;
	border: none;
	float: right;
	font-family: $font-title;
	font-weight: bold;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.ask{
	@include main-content(20px);
	z-index: 0;
	form{
		.title{
			height:50px;
			width:100%;
			font-size: 20px;
			font-family: $font-content;
		}
		.content{
			font-size: 20px;
			margin-top: 10px;
			height:150px;
			width:100%;
			font-family: $font-content;
			resize: none;
		}
		select {
			font-size: 20px;
			width:100%;
			font-family: $font-content;
			option{
				font-size: 20px;
				width:100%;
				font-family: $font-content;
			}
		}
		button{
			@include main-buttons(10px,100px,30px,45px,$yellow);
		}
	}
}


.titleQuest{
	margin-top: 60px;
	font-size: 40px;
}

.box{
	margin-top: 10px;
	@include main-content(20px);
	color:$grey;
	button{
		@include main-buttons(20px,130px,20px,35px,$blue);
	}
	.box-content{
		font-size: 15px;
		height:80px;
		text-overflow: ellipsis; 
		white-space: pre-wrap; // only if wants to show one line
		overflow: hidden;
	}
	.box-details{
		line-height: 20px;
		padding-top: 20px;
		padding-left: 0px;
		float: left;
		color:$middleblue;

		span{
			display:inline-block; 
			width: 20px;
		}
	}
}

@media screen and (max-width: 750px){
	.box{
		@include main-content(10px);
		.box-details{
			padding-left: 10px;
		}		
	}
}