*,
*:before,
*:after {
  /* Normalize screen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  background-color: #fff; }

body, html {
  height: 100%;
  /* Put background-img full screen */
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: #333; }

a {
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-color: #333; }

h1, h3 {
  font-size: 60px;
  font-weight: normal;
  color: #ee1b2e;
  text-transform: uppercase; }

h1 {
  font-size: 60px; }

h3 {
  font-size: 30px; }

/*---------- Navbar ----------*/
nav.top {
  width: 100%;
  margin: 0; }
  nav.top ul li {
    display: inline; }

.icon {
  overflow: hidden; }

/*---------- Sections ----------*/
.divider {
  border-top: 3px solid #E1E1E1; }

section#thebeer {
  background: url("../img/lines_left.png") no-repeat left top 180px, url("../img/lines_right.png") no-repeat right bottom;
  background-size: 80px, 70px;
  margin-bottom: 200px;
  overflow: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  height: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  /* width: 100%;  deixa o tam do height do pai igual ao tamanho dos filhos */ }
  section#thebeer .beercontainer {
    width: 90%;
    min-width: 740px;
    margin: 0 auto; }
  section#thebeer .content {
    float: left;
    width: 45%;
    margin-top: 150px; }
    section#thebeer .content h2 {
      font-size: 25px;
      font-weight: normal;
      color: #333;
      text-align: justify; }
  section#thebeer img {
    float: left;
    width: 45%;
    margin-left: 60px; }

section#celebrating {
  clear: left;
  padding-top: 100px;
  width: 90%;
  min-width: 740px;
  margin: 0 auto;
  margin-bottom: 100px;
  height: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  overflow: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */ }
  section#celebrating .celebratingcontainer {
    float: left;
    margin-bottom: 100px; }
  section#celebrating .beers {
    clear: left; }
    section#celebrating .beers img {
      width: 100%; }
    section#celebrating .beers .boxbeer {
      background-color: #E1E1E1;
      float: left;
      width: 40%;
      margin-left: 5%;
      text-align: center;
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 30px; }
      section#celebrating .beers .boxbeer h2 {
        font-size: 42px;
        color: #000; }
        section#celebrating .beers .boxbeer h2 span {
          color: #ee1b2e; }
      section#celebrating .beers .boxbeer .more {
        position: absolute;
        right: 56%; }
      section#celebrating .beers .boxbeer a {
        margin-top: 10px;
        width: 100px;
        font-size: 30px;
        height: 40px;
        background-color: #ee1b2e;
        border: none;
        border-radius: 5px;
        float: right;
        font-family: 'Teko', sans-serif;
        color: #fff;
        text-transform: uppercase; }
        section#celebrating .beers .boxbeer a i {
          border: solid black;
          margin-top: -10px;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px; }
        section#celebrating .beers .boxbeer a .arrow {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); }
    section#celebrating .beers .right {
      margin-top: 22%;
      margin-left: 130px; }
      section#celebrating .beers .right .more {
        position: absolute;
        left: 90%; }

section#since1871 {
  background-color: #b3b3b3;
  text-align: center;
  padding-top: 80px; }
  section#since1871 .video {
    position: relative;
    padding-bottom: 40%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 80%;
    min-width: 740px;
    margin: 0 auto; }
    section#since1871 .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      border: 0; }

section#instagram {
  width: 85%;
  min-width: 740px;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px; }
  section#instagram img {
    display: inline-block;
    margin-top: 20px; }

footer {
  width: 85%;
  min-width: 740px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 70px; }
  footer img {
    float: left; }
  footer p {
    float: right;
    margin-top: 30px;
    color: #b3b3b3;
    font-size: 18px; }
