*,
*:before,
*:after {
  /* Normalize screen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  background-color: #fff; }

body, html {
  height: 100%;
  /* Put background-img full screen */
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: #333; }

a {
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-color: #333; }

.container {
  width: 90%;
  min-width: 740px;
  margin: 0 auto; }

h1 {
  font-size: 60px;
  font-weight: normal;
  color: #e74c3c;
  text-transform: uppercase; }

/*---------- Navbar ----------*/
nav.top {
  width: 100%;
  margin: 0;
  position: fixed; }
  nav.top ul {
    float: left; }
    nav.top ul li {
      display: inline;
      float: left;
      font-size: 20px; }

.icon {
  overflow: hidden;
  display: none; }

/*---------- Header ----------*/
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 4px 0px #333;
  -moz-box-shadow: 0px 0px 4px 0px #333;
  box-shadow: 0px 0px 4px 0px #333;
  background-color: #fff; }
  header a {
    color: #666;
    text-transform: uppercase;
    font-size: 1.2em; }
  header a.active, header a:hover {
    color: #3d3d3d; }
  header li {
    margin-right: -30px; }

/* header large */
header.large {
  height: 140px; }
  header.large img {
    margin-top: 20px;
    float: left; }
  header.large li {
    margin-top: 85px;
    margin-left: 50px; }

/*---------- Section Beer ----------*/
section#thebeer {
  padding-top: 20%;
  background: url("../img/lines_left.png") no-repeat left top 180px, url("../img/lines_right.png") no-repeat right bottom;
  background-size: 100px, 60px;
  margin-bottom: 200px;
  overflow: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  height: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  /* width: 100%;  deixa o tam do height do pai igual ao tamanho dos filhos */ }
  section#thebeer .beercontainer {
    width: 90%;
    min-width: 740px;
    margin: 0 auto; }
  section#thebeer .content {
    float: left;
    width: 45%;
    margin-top: 150px; }
    section#thebeer .content h2 {
      font-size: 25px;
      font-weight: normal;
      color: #333;
      text-align: justify; }
  section#thebeer img {
    float: left;
    height: 580px;
    margin-left: 60px; }

section#celebrating {
  clear: left;
  border-top: 3px solid #E1E1E1;
  padding-top: 100px;
  width: 90%;
  min-width: 740px;
  margin: 0 auto;
  margin-bottom: 100px;
  height: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */
  overflow: auto;
  /* deixa o tam do height do pai igual ao tamanho dos filhos */ }
  section#celebrating .celebratingcontainer {
    width: 40%;
    float: left;
    margin-bottom: 100px; }
  section#celebrating .beers {
    clear: left; }
    section#celebrating .beers img {
      width: 100%; }
    section#celebrating .beers .boxbeer {
      background-color: #E1E1E1;
      float: left;
      width: 40%;
      margin-left: 60px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 30px; }
      section#celebrating .beers .boxbeer h2 {
        font-size: 42px;
        color: #000; }
        section#celebrating .beers .boxbeer h2 span {
          color: #e74c3c; }
      section#celebrating .beers .boxbeer a {
        margin-top: 10px;
        margin-right: 20px;
        width: 100px;
        font-size: 30px;
        height: 40px;
        background-color: #e74c3c;
        border: none;
        border-radius: 5px;
        float: right;
        font-family: 'Teko', sans-serif;
        color: #fff;
        text-transform: uppercase; }
        section#celebrating .beers .boxbeer a i {
          border: solid black;
          margin-top: -10px;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px; }
        section#celebrating .beers .boxbeer a .arrow {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); }
    section#celebrating .beers .right {
      margin-top: 22%;
      margin-left: 130px; }

section#since1871 {
  background-color: #E1E1E1;
  text-align: center;
  padding-top: 80px; }
