.container {
  width: 90%;
  min-width: 740px;
  margin: 0 auto; }

/*---------- Navbar ----------*/
nav.top {
  position: fixed; }
  nav.top ul li {
    float: left;
    font-size: 20px; }

.icon {
  display: none; }

/*---------- Header ----------*/
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 4px 0px #333;
  -moz-box-shadow: 0px 0px 4px 0px #333;
  box-shadow: 0px 0px 4px 0px #333;
  background-color: #fff; }
  header a {
    color: #666;
    text-transform: uppercase;
    font-size: 1.2em; }
  header a.active, header a:hover {
    color: #3d3d3d; }
  header li {
    margin-right: -30px; }

/* header large */
header.large {
  height: 140px;
  overflow: auto; }
  header.large img {
    margin-top: 20px;
    float: left; }
  header.large ul {
    margin-left: 150px; }
    header.large ul li {
      margin-top: 85px;
      margin-left: 50px; }

/*---------- Sections ----------*/
section#thebeer {
  padding-top: 230px;
  float: left; }
  section#thebeer .content {
    clear: left;
    width: 45%;
    float: left;
    margin-top: 150px; }
  section#thebeer .beercontainer {
    width: 90%;
    min-width: 740px;
    margin: 0 auto; }
  section#thebeer img {
    float: left;
    width: 45%;
    margin-left: 60px; }

section#celebrating .celebratingcontainer {
  width: 90%;
  min-width: 740px;
  margin: 0 auto; }

section#celebrating .beers {
  margin-left: 5%; }
  section#celebrating .beers img {
    width: 100%; }
  section#celebrating .beers .boxbeer {
    width: 40%; }

section#since1871 {
  padding-top: 80px; }
  section#since1871 .video {
    padding-top: 25px;
    padding-bottom: 40%;
    width: 80%;
    min-width: 740px;
    margin: 0 auto; }

section#instagram {
  width: 85%;
  min-width: 740px;
  margin: 0 auto; }

footer {
  width: 85%;
  min-width: 740px;
  margin: 0 auto; }
