$white: #fff;
$red: #ee1b2e;
$grey: #333;
$lightgrey:#E1E1E1;



.container {
  width: 90%;
  min-width: 740px;
  margin: 0 auto;
}

/*---------- Navbar ----------*/
nav.top {
	position: fixed;

	ul {
		li {
			float: left;
			font-size: 20px;
		}
	}
}

.icon {
    display: none;
}

/*---------- Header ----------*/
header {
	width: 100%;
	position: fixed;
	z-index: 10;
	-webkit-box-shadow:0px 0px 4px 0px #333; 
	-moz-box-shadow:0px 0px 4px 0px #333; 
	box-shadow: 0px 0px 4px 0px #333;
	background-color: $white;
	a {
		color: #666;
		text-transform: uppercase;
		font-size: 1.2em;
	}
	a.active, a:hover {
		color: $red;
	}

	li {
		margin-right: -30px;
	}
}

/* header large */
header.large {
	height: 140px;
	overflow: auto;

	img {
	  margin-top: 20px;
	  float: left;
	}
	ul{
		margin-left: 150px;
		li {
			margin-top: 85px;
			margin-left: 50px;
		}
	}
	
}

/*---------- Sections ----------*/
@mixin sectioncontainer($w){
	width:$w;
	min-width: 740px;
	margin: 0 auto;
}

section#thebeer{
	padding-top: 230px;
	float: left;
	.content{
		clear: left;
		width: 45%;
    	float: left;
    	margin-top: 150px;
    }
    .beercontainer{
    	@include sectioncontainer(90%);
    }

    img{
    	float: left;
    	width: 45%;
    	margin-left: 60px;
    }
}

section#celebrating{

	.celebratingcontainer{
		@include sectioncontainer(90%);
	}
	.beers{
		margin-left: 5%;
		img{
	    	width: 100%;
	    }
		.boxbeer{
    		width: 40%;

    		.more{
    			position: absolute;
    			right: 56%;
    		}
    	}
    	.right{
    			margin-top: 22%;
    			margin-left: 10%;

    			.more{
    				position: absolute;
    				right: 10%;
    			}
    		}
    }
 }


section#since1871{
	padding-top: 80px;

	.video{
		padding-top: 25px;
		padding-bottom: 40%;
		@include sectioncontainer(80%);
	}
}
section#instagram{
	@include sectioncontainer(85%); //deixa tudo zuado no mobile
}

footer{
	@include sectioncontainer(85%);
}