h1, h2 {
  font-family: "Poiret One", cursive;
  font-weight: bold; }

body, html {
  height: 100%;
  /* Put background-img full screen */ }

.imgback {
  background-image: url("../img/ask.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  position: relative; }
  .imgback p {
    color: #0fc8ff;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .imgback p span {
      color: #feb916; }

.questions {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin-left: 3%;
  margin-top: 50px; }

/******** Alert modal *********/
.alert {
  position: fixed;
  z-index: 1;
  padding-top: 250px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }
  .alert .alert-content {
    position: relative;
    background-color: #ed5666;
    color: #fff;
    margin: auto;
    padding: 0;
    width: 350px;
    height: auto;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }
    .alert .alert-content .message {
      padding: 20px;
      text-align: center;
      font-size: 20px; }
    .alert .alert-content .close {
      color: white;
      float: right;
      font-size: 20px;
      font-weight: bold;
      padding: 10px; }
    .alert .alert-content .close:hover,
    .alert .alert-content .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

@-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/******** Main *********/
.ask {
  padding: 20px;
  height: auto;
  overflow: auto;
  background-color: #fff;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0; }
  .ask form .title {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif; }
  .ask form .content {
    font-size: 20px;
    margin-top: 10px;
    height: 150px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    resize: none; }
  .ask form select {
    font-size: 20px;
    width: 100%;
    font-family: "Montserrat", sans-serif; }
    .ask form select option {
      font-size: 20px;
      width: 100%;
      font-family: "Montserrat", sans-serif; }
  .ask form button {
    margin-top: 10px;
    width: 100px;
    font-size: 30px;
    height: 45px;
    background-color: #feb916;
    border: none;
    float: right;
    font-family: "Poiret One", cursive;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }

.titleQuest {
  margin-top: 60px;
  font-size: 40px; }

.box {
  margin-top: 10px;
  padding: 20px;
  height: auto;
  overflow: auto;
  background-color: #fff;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #262626; }
  .box button {
    margin-top: 20px;
    width: 130px;
    font-size: 20px;
    height: 35px;
    background-color: #0fc8ff;
    border: none;
    float: right;
    font-family: "Poiret One", cursive;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
  .box .box-content {
    font-size: 15px;
    height: 80px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden; }
  .box .box-details {
    line-height: 20px;
    padding-top: 20px;
    padding-left: 0px;
    float: left;
    color: #009ccc; }
    .box .box-details span {
      display: inline-block;
      width: 20px; }

@media screen and (max-width: 750px) {
  .box {
    padding: 10px;
    height: auto;
    overflow: auto;
    background-color: #fff;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .box .box-details {
      padding-left: 10px; } }
