$white: #fff;
$red: #ee1b2e;
$grey: #333;
$lightgrey:#E1E1E1;

$arrow-size: 14px;
$arrow-border: 3px;

*, 
*:before, 
*:after { /* Normalize screen */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
} 

body {
	background-color: $white;
}

body, html {
	height: 100%; /* Put background-img full screen */
	font-family: 'Teko', sans-serif;
	font-size: 22px;
	color: $grey;
}

a{
	text-decoration: none;
	font-family: 'Teko', sans-serif;
	font-color: $grey;
}

h1,h3{
   	font-size: 60px;
	font-weight: normal;
	color: $red;
	text-transform: uppercase;
}

h1{
   	font-size: 60px;
}

h3{
   	font-size: 30px;

}



/*---------- Navbar ----------*/
nav.top {
	width: 100%;
	margin: 0;

	ul {
		li {
			display: inline;
			a.topmenu{ //smooth mouse hover
				-webkit-transition: all .4s;
			    -moz-transition: all .4s;
			    -o-transition: all .4s;
			    transition: all .4s;
			}
		}
		.active > a {
  			border-bottom: 3px solid $red;
		}		
	}
}	
	.icon {
    overflow: hidden;
}

/*---------- Sections ----------*/
@mixin sectioncontainer($w){
	width:$w;
	min-width: 740px;
	margin: 0 auto;
}

.divider{
	border-top: 3px solid $lightgrey;
}

section#thebeer{
	background:url("../img/lines_left.png") no-repeat left top 180px, 
               url("../img/lines_right.png") no-repeat right bottom;
    background-size: 80px, 70px;
	height: auto; /* deixa o tam do height do pai igual ao tamanho dos filhos */
	width: 100%; /* deixa o tam do height do pai igual ao tamanho dos filhos */
    .content{
	    h2{
	    	font-size: 24px;
	    	font-weight: normal;
	    	color: $grey;
	    	text-align: justify;
	    	overflow-wrap: break-word;
	    }
	}
}

section#celebrating{
	clear: left;
	padding-top: 100px;
	margin-bottom: 100px;
	height: auto;   /* deixa o tam do height do pai igual ao tamanho dos filhos */
	overflow: auto; /* deixa o tam do height do pai igual ao tamanho dos filhos */
	width: 100%; /* deixa o tam do height do pai igual ao tamanho dos filhos */
	border-top: 3px solid $lightgrey;

    .beers{
    	margin-top: 80px;	

    	img{
	    	width: 100%;
	    }

	    .boxbeer:hover{ //effect: red border on hover
			  -webkit-box-shadow: 0px 0px 20px 0px rgba(204, 0, 0, 0.6);
			  -moz-box-shadow:    0px 0px 20px 0px rgba(204, 0, 0, 0.6);
			  box-shadow:         0px 0px 20px 0px rgba(204, 0, 0, 0.6);
	    }

    	.boxbeer{
    		background-color: $lightgrey;
    		float: left;
    		width: 40%;
    		margin-left: 5%;
    		text-align: center;
    		text-transform: uppercase;
    		padding-top: 30px;
    		padding-bottom: 30px;
    		cursor: pointer;
    		transition: box-shadow 0.5s;//effect: red border on hover
    		h2{
    			font-size: 42px;
    			color: #000;

    			span{
    				color: $red;
    			}
    		}

    		h2,img,.more{ //effect: make img bigger
    			-webkit-transition: all .5s ease-in-out;;
			    -moz-transition: all .5s;
			    -o-transition: all .5s;
			    transition: all .5s;
    		}

    		.more{
    			position: absolute;
    			right: 57%;
    		}

    		a{
    			margin-top: 10px;
    			
				width: 125px;
				font-size: 30px;
				height:40px;
				background-color: $red;
				border: none;
				border-radius: 5px;
				float: right;
				padding-right: 20px;
				font-family: 'Teko', sans-serif;
				color: $white;
				text-transform: uppercase;

				&:after, &:before { //arrow
				    content: "";
				    display: block;
				    position: absolute;
				    transition: all 0.5s ease-in-out;
				    -webkit-transition: all 0.5s ease-in-out;
				    -moz-transition: all 0.5s ease-in-out;
				    -o-transition: all 0.5s ease-in-out;
				  }
				  &:before {
				    top: 56%;
				    right: 20px;
				    width: $arrow-size;
				    height: $arrow-size;
				    transform-origin: 50% 50%;
				    transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
				    -webkit-transform: translate(0, -($arrow-size / 2)) rotate(45deg);
					-moz-transform: translate(0, -($arrow-size / 2)) rotate(45deg);
					-ms-transform: translate(0, -($arrow-size / 2)) rotate(45deg);
					-o-transform: translate(0, -($arrow-size / 2)) rotate(45deg);
				    box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $white;
				    -webkit-box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $white;
				    -moz-box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $white;
				  }
				  &:after {
				    top: 56%;
				    right: 20px;
				    width: $arrow-size * 1.3;
				    height: $arrow-border;
				    transform:  translate(0, -($arrow-border / 2));
					-webkit-transform: translate(0, -($arrow-border / 2));
					-moz-transform: translate(0, -($arrow-border / 2));
					-ms-transform: translate(0, -($arrow-border / 2));
					-o-transform: translate(0, -($arrow-border / 2));
				    background-color: $white;
				  }
    		}
    	}

    	.boxbeer:hover img, .boxbeer:hover h2, .boxbeer:hover .more, 
		.boxbeer:focus img, .boxbeer:focus h2, .boxbeer:focus .more { // effect: make img bigger
		  transform: scale(1.2);
		  -webkit-transform: scale(1.2);
		  -moz-transform: scale(1.2);
		  -ms-transform: scale(1.2);
		  -o-transform: scale(1.2);
		}

    	.right{
    		margin-top: 22%;
    		margin-left: 10%;
   			.more{
   				position: absolute;
   				left: 87%;
   			}
   		}
    }
}    


section#since1871{
	background-color: #b3b3b3;
	text-align: center;

	.video{
		position: relative;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 90%;
			border:0;
		}
	}
}

section#instagram{
	padding-top: 100px;
	padding-bottom: 80px;
	img{
		margin-top: 20px;
		float: left;
	}
	img,h3{
		cursor: pointer;
	}

	.imginst{ //effect overlay
		height: 240px;
		display: inline-block;
		img {
		  -webkit-transition: all 300ms ease-out;
		  -moz-transition: all 300ms ease-out;
		  -o-transition: all 300ms ease-out;
		  -ms-transition: all 300ms ease-out;
		  transition: all 300ms ease-out;
		}
		.instoverlay{  
			  color: #000;
			  z-index: 100;
			  opacity: 0;
			}
	}
	.imginst:hover img { opacity: 0.5; }//effect overlay
}

footer{
	padding-top: 30px;
	padding-bottom: 70px;
	img{
		float: left;
	}
	p{
		float: right;
		margin-top: 30px;
		color: #b3b3b3;
		font-size: 18px;
	}
	
}